body {
  font-family: "Times New Roman", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: Tahoma;
}

header {
  background-color: #D4A017; /* rich golden yellow */
  color: #000000; /* black text for contrast */
}

nav {
  background-color: #F2C94C; /* lighter bright yellow */
  color: #000000;
  padding: 10px;
}

main {
  padding: 20px;
}

footer {
  background-color: #B68B00; /* deep gold */
  color: #000000;
  padding: 10px;
  margin-top: auto;
  font-size: .8em;
}
